*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-131921: #131921;
  --color-3b4149: #3b4149;
  --color-FFBA70: #FFBA70;
  --color-20303D: #20303D;
}

body{
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
}

a{
  text-decoration: none;
  display: inline-block;
}

.form-control:focus {
  border-color: inherit;
  box-shadow: none;
}
.gap-10 {
  gap: 10px;
}
.gap-15 {
  gap: 15px;
}
.gap-30 {
  gap: 30px;
}
/* Header part start */

.header-top-strip {
  border-bottom: 1px solid var(--color-3b4149);
  background-color: var(--color-131921);
}
.header-upper{
  background-color: #131921;
}
.header-upper .input-group-text {
  background-color: var(--color-FFBA70);
}
.logo{
  font-size: 20px;
}
.header-upper .header-upper-links img {
  height: 35px;
  width: 35px;
}
.header-bottom{
  background-color: var(--color-20303D);
}

/* Header part end */